
///////GLOBAL RESET//////
html {
	box-sizing: border-box;
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
// prettier-ignore
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
  }

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

///////// GRID WRAPPER /////////
.Grid-wrapper {
	display: grid;
	grid-template-rows: 5rem 20rem 30rem 20rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;

	grid-template-areas:
		"searchBar searchBar searchBar"
		"currentWeather currentWeather currentWeather"
		"hourforecast hourforecast dayForecast"
		"weatherDetails Sun dayForecast";
}
.searchBar {
	grid-area: searchBar;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	&__title {
		
	}
	&__inputField {
		&--text {
			font-size: 20rem;
		}
		&--submit {
		}
		&--geoBtn {
		}
	}
	&__location {
	}
}
.currentWeather {
	grid-area: currentWeather;
	&--icon {
	}
	&__info {
		&--WeatherCondition {
		}
		&--date {
		}
		&--temp {
		}
	}
}
.24hourforecast {
	grid-area: hourforecast;
	&__canvasContainer {
	}
}
.weatherDetails {
	grid-area: weatherDetails;
	&--humidity {
	}

	&--AirPressure {
	}
	&--ChanceOfRain {
	}
}
.Sun {
	grid-area: Sun;
	&__Sunrise {
	}
	&__Sunset {
	}
}
.5dayforecast {
	height: 5rem;
	width: 5rem;
	background-color: blue;
	grid-area: dayForecast;
}
