
///////GLOBAL RESET//////
html {
	box-sizing: border-box;
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
// prettier-ignore
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
  }

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

///////// VARIABLES //////////////

$text-color: black;

$box-backgroundColor: rgb(245, 245, 245);

////////// MIXINS ///////////

@mixin gridBoxStyles {
	height: 100%;
	width: 100%;
	background-color: $box-backgroundColor;
	box-shadow: 3px 3px 10px rgb(105, 105, 105);
	border-radius: 20px;
	padding: 0 3rem;
  }


///////// GRID WRAPPER /////////
body {
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
	width: 100vw;
	padding: 2rem 2rem;
}
.Grid-wrapper {
	height: 95%;
	width: 95%;
	display: grid;
	grid-template-rows: 10% 30% 40% 20%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;

	padding: 1rem 1rem;


	grid-template-areas:
		"searchBar searchBar searchBar"
		"currentWeather currentWeather currentWeather"
		"hourforecast hourforecast dayForecast"
		"weatherDetails Sun dayForecast";
}
.searchBar {
	grid-area: searchBar;
	@include gridBoxStyles;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	&__title {
		
	}
	&__inputField {
		&--text {
			font-size: 20rem;
		}
		&--submit {
		}
		&--geoBtn {
		}
	}
	&__location {
	}
}
.currentWeather {
	grid-area: currentWeather;
	@include gridBoxStyles;
	
	display: flex;
	justify-content: center;
	align-items: center;
	&--icon {
		margin-right: 2rem;
		height: 15rem;
		width: auto;
	}
	&__info {
		margin-left: 2rem;
		color: $text-color;
		&--WeatherCondition {
			font-size: 5rem;
			text-transform: uppercase;
		}
		&--date {
			font-size: 1.5rem;
		}
		&--temp {
			font-size: 8rem;
		}
	}
}
.HoursForecast {
	grid-area: hourforecast;
	@include gridBoxStyles;
	position: relative;
	&__canvasContainer {
		grid-area: hourforecast;
		position: absolute;
		max-width: 100%;
		max-height: 100%;
	}
}
.weatherDetails {
	grid-area: weatherDetails;
	@include gridBoxStyles;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	&--humidity {
	}

	&--AirPressure {
	}
	&--ChanceOfRain {
	}
}
.Sun {
	grid-area: Sun;
	@include gridBoxStyles;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	&__Sunrise {
	}
	&__Sunset {
	}
}
.daysForecast {
	grid-area: dayForecast;

	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 100%;
	grid-gap: 1rem;

	&__dayOne {
		@include gridBoxStyles;
	}
	&__dayTwo {
		@include gridBoxStyles;
	}
	&__dayThree {
		@include gridBoxStyles;
	}
	&__dayFour {
		@include gridBoxStyles;
	}
	&__dayFive {
		@include gridBoxStyles;
	}
	&__icon {
		height: 8rem;
	}

}
